/**
 * @file
 * Parallax Block admin form styling.
 */

.parallax-block-image-field {
  display: inline-block;
  *display: block;
  *zoom: 1;
  vertical-align: top;
  margin-left: 20px;
}

.field-prefix + .parallax-block-image-field {
  padding-top: 20px;
  height: 47px;
}