/**
 * @file
 * Block element with background parallax effect.
 *
 * Background image will be set as inline style rule in page header.
 */

.block-parallax-block {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;

  /* parallax CSS */
  background-position: 50% 20%;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover;

  /* embossed effect */
  -webkit-box-shadow: inset 0 8px 12px -8px rgba(0, 0, 0, 0.5), inset 0 -8px 12px -8px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: inset 0 8px 12px -8px rgba(0, 0, 0, 0.5), inset 0 -8px 12px -8px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 8px 12px -8px rgba(0, 0, 0, 0.5), inset 0 -8px 12px -8px rgba(0, 0, 0, 0.5);
}